.base-background {
    background-color: #efeeee;
}

.navbar {
    background-color: #efeeee;
    box-shadow: 3px 3px 6px #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.navbar-button {
    background-color: #efeeee;
    border-radius: 0.75rem;
    box-shadow: 3px 3px 6px #cbcbcb, -3px -3px 6px #ffffff;
    transition: box-shadow 0.1s;
}

.navbar-button:hover {
    box-shadow: 2px 2px 4px #cbcbcb inset, -2px -2px 4px #ffffff inset;
    cursor: pointer;
}

.navbar-button:active {
    box-shadow: 6px 6px 12px #cbcbcb inset, -6px -6px 12px #ffffff inset;
    cursor: pointer;
}

.download-button {
    background-color: #efeeee;
    border-radius: 0.75rem;
    box-shadow: 3px 3px 6px #cbcbcb, -3px -3px 6px #ffffff;
    transition: box-shadow 0.1s;
    padding: 0.5rem 1.0rem;
}

.download-button:hover {
    box-shadow: 2px 2px 4px #cbcbcb inset, -2px -2px 4px #ffffff inset;
}

.download-button:active {
    box-shadow: 6px 6px 12px #cbcbcb inset, -6px -6px 12px #ffffff inset;
}

p {
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 1.25rem !important;
}

h1, h2 {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 600 !important;
}

.resume-title {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 600 !important;
}

.title {
    box-shadow: 6px 6px 12px #cbcbcb inset, -6px -6px 12px #ffffff inset;
}

.home-card-title {
    font-size: 1.5rem !important;
}

.home-card-subtitle {
    font-size: 1.25rem !important;
}

.home-card {
    border-radius: .75rem;
    box-shadow: 6px 6px 12px #cbcbcb, -6px -6px 12px #ffffff;
    transition: box-shadow 0.1s;
}

.home-card:hover {
    box-shadow: 3px 3px 6px #cbcbcb inset, -6px -6px 12px #ffffff inset;
}

.home-card:active {
    box-shadow: 12px 12px 24px #cbcbcb inset, -12px -12px 24px #ffffff inset;
}

.about-card {
    background-color: #efeeee;
    box-shadow: 6px 6px 12px #cbcbcb inset, -6px -6px 12px #ffffff inset;
}

.email {
    text-decoration: none;
    color: #be0e0e;
}
