.base-background {
    background-color: #000000;
}

.navbar {
    background-color: #000000;
    border-bottom: 1px dashed #41ff00;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

.navbar-button {
    color: #41ff00;
}

.navbar-button:hover {
}

.navbar-button:active {
}

p {
    color: #41ff00;
    font-family: 'VT323', monospace;
}

h1, h2, h3 {
    color: #41ff00;
    font-family: 'VT323', monospace;
}

.home-card-title {
    font-size: 2.5rem !important;
}

.home-card-subtitle {
    font-size: 2rem !important;
}

.home-card {
    border: 1px dashed #41ff00;
    box-shadow: none;
    transition: box-shadow 0.1s;
}

.home-card:hover {
    background-color: #41ff00;
    box-shadow: 3px 3px 6px #cbcbcb inset, -6px -6px 12px #ffffff inset;
    color: #000000 !important;
}

.home-card:active {
    box-shadow: 12px 12px 24px #cbcbcb inset, -12px -12px 24px #ffffff inset;
}

.resume-title {
}

.title {
}

.about-card {
}

.email {

}
