{% extends "navbar.html" %}
{% import "components.html" as components %}

{% block head %}
    <title>Fletcher Easton - About</title>
{% endblock %}

{% block content %}
    {{ super() }}

    <main class="flex-1 overflow-y-auto">
        <div class="flex flex-col max-w-6xl mx-auto px-5 text-center mb-4">
            <div class="flex-1 grid gap-5 grid-cols-1 md:grid-cols-3 text-left mt-8">

                <div class="col-span-1">
                    <div class="rounded-xl p-5 about-card">
                        <img alt="Illustration of Fletcher Easton." class="rounded-xl self-center"
                             src="{{ url_for("static", path="/images/about/fletcher-anime.jpg") }}"/>
                    </div>
                </div>

                <div class="col-span-2 flex flex-col">
                    <div class="flex-initial rounded-xl p-5 about-card">
                        <h1 class="text-2xl">
                            I'm Fletcher Easton, a software engineer.
                        </h1>
                    </div>

                    <div class="flex flex-col flex-grow rounded-xl mt-4 p-5 about-card">
                        <p class="flex-1 text-lg">
                            I recently graduated from Cal Poly in San Luis Obispo, CA, and I'm looking to move to the
                            San Diego area.
                        </p>

                        <p class="flex-1 text-lg mt-3">
                            When I'm not at the computer, you can find me at the gym, hiking the nearest mountain,
                            playing Overwatch with friends, or reading Sci-Fi.
                        </p>

                        <p class="flex-1 text-lg mt-3">
                            If you want to get in touch, send me an email at
                            <a class="email" href="mailto:work@fletcheaston.com">work@fletcheaston.com</a>.
                        </p>

                        <p class="flex-1 text-lg mt-3 secret-text" hidden>
                            <b>
                                You're really looking at this in an iframe?
                            </b>
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex-1 rounded-xl text-left p-5 mt-16 about-card">
                <h2 class="text-2xl">
                    You're already here, check out my resume ¯\_(ツ)_/¯
                </h2>
            </div>

            <div class="flex-1 grid gap-5 grid-cols-1 md:grid-cols-3 mt-4">
                <div class="col-span-2 rounded-xl text-left p-5 about-card">
                    <h3 class="text-xl resume-title">
                        Work Experience
                    </h3>

                    <hr>

                    {% for work_experience in work_experiences %}
                        {{ components.work_experience_card(work_experience) }}
                    {% endfor %}
                </div>

                <div class="col-span-1 rounded-xl text-left p-5 about-card">
                    <h3 class="text-xl resume-title">
                        Technical Expertise
                    </h3>

                    <hr>

                    <div class="mt-4">
                        {% for skill in skills %}
                            {{ components.skill_card(skill) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // Only show the secret text when we're in an iframe.
        if (window.location !== window.parent.location) {
            $(".secret-text").show()
        }
        else {
            $(".secret-text").hide()
        }
    </script>
{% endblock %}