{% extends "navbar.html" %}
{% import "components.html" as components %}

{% block head %}
    <title>Fletcher Easton - About</title>
{% endblock %}

{% block content %}
    {{ super() }}

    <main class="flex-1 overflow-y-auto">
        <div class="flex flex-col max-w-6xl mx-auto px-5 text-center mb-4">
            <div class="flex-1 grid gap-5 grid-cols-1 md:grid-cols-3 text-left mt-8">

                <div class="col-span-1">
                    <div class="rounded-xl p-5 about-card">
                        <img alt="Illustration of Fletcher Easton." class="rounded-xl self-center"
                             src="{{ url_for("static", path="/images/about/fletcher-anime.jpg") }}"/>
                    </div>
                </div>

                <div class="col-span-2 flex flex-col">
                    <div class="flex-initial rounded-xl p-5 about-card">
                        <h1 class="text-2xl">
                            I'm Fletcher Easton, a software engineer.
                        </h1>
                    </div>

                    <div class="flex flex-col flex-grow rounded-xl mt-4 p-5 about-card">
                        <p class="flex-1 text-lg">
                            I recently graduated from Cal Poly in San Luis Obispo, CA, and I'm looking to move to the
                            San Diego area.
                        </p>

                        <p class="flex-1 text-lg mt-2">
                            When I'm not at the computer, you can find me at the gym, hiking the nearest mountain,
                            playing Overwatch with friends, or reading Sci-Fi.
                        </p>

                        <p class="flex-1 text-lg mt-2">
                            If you want to get in touch, send me an email at
                            <a class="email" href="mailto:fletcheaston@gmail.com">fletcheaston@gmail.com</a>.
                        </p>

                        <p id="secret-text" class="flex-1 text-lg mt-2" hidden>
                            <b>
                                You're really looking at this in an iframe?
                            </b>
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex-1 rounded-xl text-left p-5 mt-16 about-card">
                <h2 class="text-2xl">
                    You're already here, check out my resume ¯\_(ツ)_/¯
                </h2>
            </div>

            <div class="flex-1 grid gap-5 grid-cols-1 md:grid-cols-3 mt-4">
                <div class="col-span-2 rounded-xl text-left p-5 about-card">
                    <h3 class="text-xl resume-title">
                        Work Experience
                    </h3>

                    <hr>

                    {{ components.work_experience(
                            title="Lead DevOps and Backend Engineer",
                            company="Grove",
                            start_date="September 2019",
                            end_date="Present",
                            points=[
                                "Coordinated an API-first development process with our customers, designers, and front-end engineers.",
                                "Developed and documented our REST APIs using Django and FastAPI.",
                                "Implemented devops with robust CI/CD and production-monitoring practices.",
                            ]
                            ) }}

                    {{ components.work_experience(
                            title="Automation Engineer",
                            company="California Strawberry Commission",
                            start_date="October 2019",
                            end_date="Present",
                            points=[
                                "Developed machine vision systems to identify and count Lygus bugs.",
                                "Assisted in automating the runner-cutting process for strawberries.",
                                "Built a robust machine vision pipeline in AWS for detecting Lygus bugs and strawberry runners.",
                            ]
                            ) }}

                    {{ components.work_experience(
                            title="DevOps and Backend Engineering Contractor",
                            company="HealMed Solutions",
                            start_date="Janurary 2021",
                            end_date="June 2021",
                            points=[
                                "Worked closely with HealMed Solutions to develop HIPAA-compliant software for partnered hospital systems.",
                                "Developed a well-documented backend in FastAPI and SQLAlchemy using a TDD process.",
                                "Implemented devops with robust CI/CD and production-monitoring practices.",
                                "Assisted in requirements discovery with customers.",
                            ]
                            ) }}

                    {{ components.work_experience(
                            title="DevOps and Backend Engineering Contractor",
                            company="Assembled Supply",
                            start_date="July 2020",
                            end_date="June 2021",
                            points=[
                                "Scraped and cleaned data from various industrial supplies websites.",
                                "Built a data management system for matching items from dozens of sellers for direct price comparisons.",
                                "Developed the backend system for an e-commerce platform, integrated with Stripe.",
                                "Documented code and practices for other engineers and the (non-technical) CEO to follow.",
                            ]
                            ) }}

                    {{ components.work_experience(
                            title="BRAE Research Assistant",
                            company="Cal Poly Corporation",
                            start_date="July 2020",
                            end_date="June 2021",
                            points=[
                                "Assisted the SmartFarm project by installing, monitoring, and analyzing data from custom Arduino boards in CSU Fresno almond orchards.",
                                "Built an autonomous in-field platform for hosting a variety of mechanical and electrical equipment.",
                                "Contributed to master branch of SciPy’s statistics library and development documentation.",
                            ]
                            ) }}
                </div>

                <div class="col-span-1 rounded-xl text-left p-5 about-card">
                    <h3 class="text-xl resume-title">
                        Technical Expertise
                    </h3>

                    <hr>

                    <div class="mt-4 pl-4">
                        {{ components.skill(
                            description="Web APIs",
                            technologies=[
                                "Django",
                                "FastAPI",
                                "Flask",
                                "OpenAPI/Swagger",
                                "REST",
                            ]
                            ) }}

                        {{ components.skill(
                            description="DevOps and Cloud Computing",
                            technologies=[
                                "Google Cloud Platform",
                                "Amazon Web Services",
                                "CI/CD pipelines (Cloud Build, CodeBuild, CodeDeploy)",
                            ]
                            ) }}

                        {{ components.skill(
                            description="Web apps",
                            technologies=[
                                "JS",
                                "CSS",
                                "HTML5",
                                "Jinja2 templating",
                                "Django templating",
                            ]
                            ) }}

                        {{ components.skill(
                            description="Data persistance",
                            technologies=[
                                "PostgreSQL",
                                "MySQL",
                                "Memcached",
                                "Redis",
                                "Django ORM",
                                "SQLAlchemy ORM/Core",
                            ]
                            ) }}

                        {{ components.skill(
                            description="Requirements engineering and communication",
                            technologies=[
                                "JIRA",
                                "Notion",
                                "Slack",
                                "Teams",
                                "Microsoft Office suite",
                            ]
                            ) }}

                        {{ components.skill(
                            description="High performance computing",
                            technologies=[
                                "Python",
                                "TensorFlow",
                                "NumPy",
                                "SciPy",
                                "Pandas",
                                "Basic C++",
                            ]
                            ) }}

                        {{ components.skill(
                            description="Robotics",
                            technologies=[
                                "Arduino",
                                "Raspberry Pi",
                                "GPS/RTK/PPK",
                                "Sensor fusion systems",
                                "Intermediate electrical systems knowledge",
                            ]
                            ) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // Only show the secret text when we're in an iframe.
        if (window.location !== window.parent.location) {
            $("#secret-text").show()
        }
    </script>
{% endblock %}