{% extends "navbar.html" %}
{% import "components.html" as components %}

{% block head %}
    <title>Fletcher Easton - About</title>
{% endblock %}

{% block content %}
    {{ super() }}

    <main class="flex-1 overflow-y-auto text-center">

        <div class="grid gap-5 grid-cols-1 md:grid-cols-2 max-w-4xl mt-8 mx-auto px-5">

            <div class="rounded-xl text-center p-5 about-card">
                <img alt="Illustration of Fletcher Easton." class="rounded-xl self-center"
                     src="{{ url_for("static", path="/images/about/fletcher-anime.jpg") }}"/>
            </div>

        </div>
    </main>
{% endblock %}