{% macro work_experience_card(work_experience) %}
    <div class="rounded-xl about-card p-3 mt-4">
        <h4 class="text-lg">
            <b>{{ work_experience.title }}, {{ work_experience.company }}</b>
        </h4>
        <h5 class="text-md mb-3">
            {{ work_experience.start_date }} - {{ work_experience.end_date }}
        </h5>

        <ul class="list-inside list-disc">
            {% for accomplishment in work_experience.accomplishments %}
                <li class="mb-2">
                    {{ accomplishment.description }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro skill_card(skill) %}
    <ul class="mb-4">
        <li>
            <h4 class="skill-category">
                {{ skill.category }}
            </h4>

            <ul class="list-inside list-disc">
                {% for technology in skill.technologies %}
                    <li>
                        {{ technology }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endmacro %}
