{% macro project_card(project) %}
    <a class="flex flex-col text-center p-3 home-card" href="{{ project.url }}">
        <h2 class="home-card-title mb-1" id="{{ project.uid }}">
            {{ project.name }}
        </h2>
        <h3 class="home-card-subtitle mb-3">
            {{ project.description }}
        </h3>

        <div class="flex flex-grow">
            {{ project.html_content|safe }}
        </div>
    </a>
{% endmacro %}

{% macro work_experience_card(work_experience) %}
    <div class="rounded-xl about-card p-3 mt-4">
        <h4 class="text-lg">
            <b>{{ work_experience.title }}, {{ work_experience.company }}</b>
        </h4>
        <h5 class="text-md mb-3">
            {{ work_experience.start_date }} - {{ work_experience.end_date }}
        </h5>

        <ul class="list-inside list-disc">
            {% for accomplishment in work_experience.accomplishments %}
                <li class="mb-2">
                    {{ accomplishment.description }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro skill_card(skill) %}
    <ul class="mb-4">
        <li>
            <h5 class="skill-category">
                {{ skill.category }}
            </h5>

            <ul class="list-inside list-disc">
                {% for technology in skill.technologies %}
                    <li>
                        {{ technology }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endmacro %}
