{% extends "navbar.html" %}
{% import "components.html" as components %}

{% block head %}
    <title>Fletcher Easton - Home</title>
{% endblock %}

{% block content %}
    {{ super() }}

    <main class="flex-1 overflow-y-auto text-center">
        <div class="grid gap-5 grid-cols-1 md:grid-cols-2 max-w-6xl mt-8 mx-auto px-5">

            {% call components.project_card(title="fletcheaston.com", title_id="website", subtitle="A look at this website.") %}
                <iframe src="/" title="fletcheaston.com" class="rounded-xl self-end w-full h-96"></iframe>
            {% endcall %}

            {% call components.project_card(title="HealMed", title_id="healmed", subtitle="Automating the intake process for patients in healthcare systems.") %}
                <img alt="Screenshot of healmed.ai." class="rounded-xl self-end" src="{{ url_for("static", path="/images/healmed/home.jpg") }}"/>
            {% endcall %}

            {% call components.project_card(title="Grove", title_id="grove", subtitle="A networking platform for verified mental health professionals.") %}
                <img alt="Screenshot of joingrove.com." class="rounded-xl self-end" src="{{ url_for("static", path="/images/grove/home.jpg") }}"/>
            {% endcall %}

            {% call components.project_card(title="Assembled Supply", title_id="assembled_supply", subtitle="Industrial supply price comparision.") %}
                <img alt="Screenshot of assembledsupply.com." class="rounded-xl self-end" src="{{ url_for("static", path="/images/assembled-supply/home.jpg") }}"/>
            {% endcall %}

            {% call components.project_card(title="Lygus Monitoring", title_id="lygus_monitoring", subtitle="Counting Lygus sucked up by the bug vacuum in strawberry fields.") %}
                <img alt="Screenshot of assembledsupply.com." class="rounded-xl self-end" src="{{ url_for("static", path="/images/strawberry-center/home.jpg") }}"/>
            {% endcall %}

            {% call components.project_card(title="SmartFarm", title_id="smartfarm", subtitle="Open-source Arduino-based platform for crop monitoring.") %}
                <img alt="" class="rounded-xl self-end" src="{{ url_for("static", path="/images/brae/home.jpg") }}"/>
            {% endcall %}

            {% call components.project_card(title="Yellow Star-Thistle Killer", title_id="star_thistle", subtitle="Automated machine for hunting and killing yellow star-thistle.") %}
                <img alt="" class="rounded-xl self-end" src="{{ url_for("static", path="/images/brae/home.jpg") }}"/>
            {% endcall %}

            {% call components.project_card(title="Simulated Apple Harvester", title_id="apple", subtitle="Building a robot to autonomously harvest apples.") %}
                <img alt="" class="rounded-xl self-end" src="{{ url_for("static", path="/images/brae/home.jpg") }}"/>
            {% endcall %}

            {% call components.project_card(title="Watermelon Harvester", title_id="watermelon", subtitle="Building a robot to autonomously harvest watermelons.") %}
                <img alt="" class="rounded-xl self-end" src="{{ url_for("static", path="/images/brae/home.jpg") }}"/>
            {% endcall %}

        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("iframe").on("load", function() {
            $("#website").text(this.contentWindow.location.href.replace("http://","").replace("https://","").replace(/\/+$/, ""));
        });
    </script>

    <script type="text/javascript">
        // Only show the website project when we're not in an iframe.
        if (window.location !== window.parent.location) {
            $("#website").parent().hide()
        }
    </script>
{% endblock %}
