{% extends "navbar.html" %}
{% import "components.html" as components %}

{% block head %}
    <title>Fletcher Easton - Home</title>
{% endblock %}

{% block content %}
    {{ super() }}

    <main class="text-center pb-4">
        <div class="mx-auto mt-8 non-secret-text" hidden>
            <h1>
                Work in Progress... Last updated June 29th, 2021.
            </h1>

            <h2>
                <a href="https://github.com/fletcheaston/Personal-Website">
                    <u>
                        Github repository
                    </u>
                </a>
            </h2>

            <h2>
                <a href="https://www.notion.so/joingrove/e5fc9c502bf3473792b0a4024a268014?v=b989c999ab1841db8419cc987d68b0e1">
                    <u>
                        Notion Progress Tracking
                    </u>
                </a>
            </h2>
        </div>

        <div class="grid gap-8 grid-cols-1 md:grid-cols-2 max-w-6xl mt-8 mx-auto px-5">
            {% for project in projects %}
                {{ components.project_card(project) }}
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("iframe").on("load", function () {
            $("#website").text(this.contentWindow.location.href.replace("http://", "").replace("https://", "").replace(/\/+$/, ""));
        });
    </script>

    <script type="text/javascript">
        // Only show the website project when we're not in an iframe.
        if (window.location !== window.parent.location) {
            $("#website").parent().hide()
        }
    </script>

    <script type="text/javascript">
        // Only show the non-secret text when we're not in an iframe.
        if (window.location !== window.parent.location) {
            $(".non-secret-text").hide()
        } else {
            $(".non-secret-text").show()
        }
    </script>
{% endblock %}
