{% extends "navbar.html" %}
{% import "projects/cards.html" as cards %}

{% block head %}
    <title>Products</title>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="mx-auto px-3 mt-5 max-width-lg">

        <div class="row no-gutters">
            <div class="col-3">
                <h1>
                    Filters
                </h1>
            </div>
            <div class="col-9">
                <h1>
                    Products
                </h1>

                <div class="row no-gutters justify-content-center">
                    {% for product in products %}
                        {{ cards.product_card(product, url_for("retrieve_product_app", id=product.id)) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}